#appContainer {
    display: flex;
}

main {
    align-items: center;
    padding-left: 10%;
}


.sideBySideItems {
    display: flex;
}

.sideBySideItems .specification {
    margin-left: 5vw;
}


label, select, input {
    height: 2.5vw;
    border-radius: 3px;
    border: 0;
    font-size: 1.5vw;
    display: block;
}

select, input {
    text-align: center;
    height: 4vw;
    margin-bottom: 2vw;
    background-color: #d9d9d9;

}

input {
    width: 20vw;
}

select {
    width: 15vw;
}


input:focus {
    outline: none;
}


select:focus {
    outline: none;
}

section #lastValueContainer {
    text-align: center;
}

#lastValueContainer select {
    display: inline;
}

#lastValueContainer label {
    margin-top: 6vw;
}

section {
    width: 100%;
    text-align: center;
    padding-top: 12vw;
}

#answer {
    font-size: 3vw;
    border-radius: 0.5vw;
    display: inline;
    padding: 3vw;
    color: white;
    background-color: #504324;
}
