* {
    margin: 0;
}

:root {
    --mainColor: #0080af;
    --fieldColor: #B2D2D3;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    color: var(--mainColor);
    font-size: 3vw;
    margin-top: 2vw;
}

#appContainer {
    display: flex;
}

main {
    align-items: center;
    padding-left: 10%;
    color: var(--mainColor);
}


.sideBySideItems {
    display: flex;
}

.sideBySideItems .specification {
    margin-left: 5vw;
}


label, select, input {
    height: 2.5vw;
    border-radius: 3px;
    border: 0;
    font-size: 1.5vw;
    display: block;
}

select, input {
    text-align: center;
    height: 4vw;
    margin-bottom: 2vw;
    background-color: var(--fieldColor);
    color: rgb(73, 60, 60);

}

input {
    width: 20vw;
}

select {
    width: 15vw;
}


input:focus {
    outline: none;
}


select:focus {
    outline: none;
}

section #lastValueContainer {
    text-align: center;
}

#lastValueContainer select {
    display: inline;
}

#lastValueContainer label {
    margin-top: 6vw;
    color: var(--mainColor);
}

section {
    width: 100%;
    text-align: center;
    padding-top: 12vw;
}

#answer {
    font-size: 3vw;
    border-radius: 0.5vw;
    display: inline;
    padding: 3vw;
    color: white;
    background-color: var(--mainColor);
}

#resultDetails {
    background-color: var(--mainColor);
}

.details {
    margin: 2vw;
    color: white;
}

#resultDetails {
    text-align: justify;
    padding-top: 1vw;
}

#dataOrganizer {
    display: flex;
    text-align: justify;
}

#dataOrganizer div{
    width: 50%;
}

#incomeAnswerContainer {
    text-align: center;
}

#incomeAnswerTitle {
    margin-top: 2vw;
    margin-bottom: 5vw;
    color: white;
}

#incomeAnswer {
    font-size: 3vw;
    border-radius: 0.5vw;
    display: inline;
    padding: 3vw;
    color: var(--mainColor);
    background-color: white;
}

